@model ManufacturerNavigationModel
@if (Model.Manufacturers.Count > 0)
{
    <div class="filter-manufacture">
        <h3 class="title14">@T("Manufacturers")</h3>
        <ul class="list-none">
            @foreach (var manufacturer in Model.Manufacturers)
            {
                <li class="@(manufacturer.IsActive ? "active" : "inactive")">
                    <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a>
                </li>
            }
        </ul>
        @if (Model.TotalManufacturers > Model.Manufacturers.Count)
        {
            <div class="view-all">
                <a href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturers.ViewAll")</a>
            </div>
        }
    </div>
    <!-- End Filter Manufacture -->
}