@model CustomerAddressEditModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-edit-page");
}

@section Breadcrumb
    {
    <div class="bread-crumb">
        <a href="@Url.RouteUrl("HomePage")" class="silver" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
        <strong class="color">@T("Account.CustomerAddresses.Edit")</strong>
    </div>
}
@section left
    {
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Addresses })
}

    <div class="content-shop">
        <div class="shop-title-box">
            <h2 class="title18 title-box5">@T("Account.MyAccount") - @T("Account.CustomerAddresses")</h2>
        </div>
        <form asp-route="CustomerAddressEdit" method="post">
            <div class="page-body form-my-account">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                @{
                    var dataDictAddress = new ViewDataDictionary(ViewData);
                    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                    @await Html.PartialAsync("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
                }
                <div class="buttons">
                    <input type="submit" class="button-1 save-address-button" value="@T("Common.Save")" />
                </div>
            </div>
        </form>
    </div>
