@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
@section Breadcrumb
    {
    <div class="bread-crumb">
        <a href="@Url.RouteUrl("HomePage")" class="silver" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
        <strong class="color">@T("Account.PasswordRecovery")</strong>
    </div>
}

    <div class="content-about ">
        <h2 class="title30 dosis-font font-bold text-uppercase text-center dark">@T("Account.PasswordRecovery")</h2>
        <div class="page-body form-my-account">
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            <form asp-route="PasswordRecovery" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs">
                            <label asp-for="Email" asp-postfix=":"></label>
                            <input asp-for="Email" class="email" />
                            <nop-required />
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
                </div>
            </form>
        </div>
    </div>