@model RegisterResultModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
}

@section Breadcrumb
    {
    <div class="bread-crumb">
        <a href="@Url.RouteUrl("HomePage")" class="silver" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
        <strong class="color">@T("Account.Register")</strong>
    </div>
}
<div class="container">
    <div class="content-about ">
        <h2 class="title30 dosis-font font-bold text-uppercase text-center dark">@T("Account.Register")</h2>
        <form asp-route="RegisterResult" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="page registration-result-page">
                <div class="page-body">
                    <div class="result">
                        @Model.Result
                    </div>
                    <div class="buttons">
                        <input type="submit" name="register-continue" class="button-1 register-continue-button" value="@T("Account.Register.Result.Continue")" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>