@model PopularProductTagsModel
@if (Model.Tags.Count > 0)
{

<div class="widget widget-compare block block-popular-tags">
    <h2 class="title-widget title18">@T("Products.Tags.Popular")</h2>
    <div class="listbox">
        <div class="tags">
            <ul>
                @foreach (var item in Model.Tags)
                {
                    <li><a href="@Url.RouteUrl("ProductsByTag", new { productTagId = item.Id, SeName = item.SeName })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a></li>
                }
            </ul>
        </div>
        @if (Model.TotalTags > Model.Tags.Count)
        {
            <div class="view-all">
                <a href="@Url.RouteUrl("ProductTagsAll")">@T("Products.Tags.Popular.ViewAll")</a>
            </div>
        }
    </div>
</div>
}