@model CatalogPagingFilteringModel.PriceRangeFilterModel
@{
    var selectedItem = Model.Items.FirstOrDefault(x => x.Selected);
}

@*@functions{

        public string FormatPriceRangeText(CatalogPagingFilteringModel.PriceRangeFilterItem filterItem)
        {
            var rangeText = "";
            if (string.IsNullOrWhiteSpace(filterItem.From))
            {
                rangeText = string.Format(T("Filtering.PriceRangeFilter.Under").Text, $"<span class=\"PriceRange\">{filterItem.To}</span>");
            }
            else if (string.IsNullOrWhiteSpace(filterItem.To))
            {
                rangeText = string.Format(T("Filtering.PriceRangeFilter.Over").Text, $"<span class=\"PriceRange\">{filterItem.From}</span>");
            }
            else
            {
                rangeText = $"<span class=\"PriceRange\">{filterItem.From}</span> - <span class=\"PriceRange\">{filterItem.To}</span>";
            }
            return rangeText;
        }
    }*@
@if (true)
{

    <div class="filter-price">
        <h3 class="title14">@T("Filtering.PriceRangeFilter")</h3>
        <div class="range-filter">
            <div class="new-filter">
                From: <input type="text" class="filter-from-price" />
                To: <input type="text" class="filter-to-price" />
                <hr />
                <div id="slider-range"></div>
            </div>
            <hr />
            @*<button class="btn-filter-price shop-button title14" style="margin-left: 185px;">@T("Filtering.Button.Filter")</button>*@

            @*<span class="amount"></span>

                <div class="slider-range"></div>*@
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.btn-filter-price').on('click', function () {
                var pf = $(".filter-from-price").val().removeComma();
                var pt = $(".filter-to-price").val().removeComma();
                var searchParams = new URLSearchParams(window.location.search);
                if (searchParams.has('pf') && searchParams.has('pt')) {
                    searchParams.set('pf', pf);
                    searchParams.set('pt', pt);
                } else {
                    searchParams.append('pf', pf);
                    searchParams.append('pt', pt);
                }
                // alert('//' + location.host + location.pathname + '?' + searchParams.toString());
                location.href = '//' + location.host + location.pathname + '?' + searchParams.toString();
            });
        });
    </script>
    <!-- End Filter Price -->
    @*<div class="product-filter price-range-filter">
            <div class="filter-title">
                <strong>@T("Filtering.PriceRangeFilter")</strong>
            </div>
            <div class="filter-content">
                @if (selectedItem == null)
                {
                    <div class="available-items">
                        <ul class="group price-range-group">
                            @foreach (var item in Model.Items)
                            {
                                <li><a href="@item.FilterUrl">@Html.Raw(FormatPriceRangeText(item))</a></li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div class="filtered-items">
                        <span class="item">@Html.Raw(FormatPriceRangeText(selectedItem))</span>
                    </div>
                    <div class="remove-filter">
                        <a href="@Model.RemoveFilterUrl">@T("Filtering.PriceRangeFilter.Remove")</a>
                    </div>
                }
            </div>

        </div>*@
}