@model IList<ManufacturerModel>
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Manufacturers").Text);
    //page class
    Html.AppendPageCssClassParts("html-manufacturer-list-page");
}
@section Breadcrumb
    {
    <div class="bread-crumb">
        <a href="@Url.RouteUrl("HomePage")" class="silver" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
        <strong class="color">@T("Manufacturers.List")</strong>
    </div>
}
<div class="content">
    <div class="shop-title-box">
        <h2 class="title18 title-box5">@T("Manufacturers.List")</h2>
    </div>
    <div class="page-body">
        <div class="manufacturer-grid">
            <div class="container">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="special-box border line-scale zoom-image">
                            <h2 class="title18"> @item.Name</h2>
                            <a href="@Url.RouteUrl("Manufacturer", new {SeName = item.SeName})" title="@item.PictureModel.Title" class="adv-thumb-link"><img src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" alt="@item.PictureModel.AlternateText"></a>
                            
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
