@model IList<ProductTagModel>
<div class="detail-tags">
    <label class="title14">@T("Products.Tags")</label>
    @foreach (var item in Model)
    {
        @*<a href="@Url.RouteUrl("ProductsByTag", new { productTagId = item.Id, SeName = item.SeName })">@item.Name (@item.ProductCount)</a>*@
        <a href="#">@item.Name (@item.ProductCount)</a>
    }
</div>