@model ShoppingCartModel.GiftCardBoxModel
@if (Model.Display)
{
    <div class="giftcard-box">
        <div class="title">
            <h4 class="title18 title-box2">@T("ShoppingCart.GiftCardCouponCode")</h4>
        </div>
        <div class="hint">@T("ShoppingCart.GiftCardCouponCode.Tooltip")</div>
        <div class="coupon-code">
            <input name="giftcardcouponcode" id="giftcardcouponcode" type="text" class="gift-card-coupon-code" />
            <input type="submit" name="applygiftcardcouponcode" id="applygiftcardcouponcode" 
                   value="@T("ShoppingCart.GiftCardCouponCode.Button")" class="button bg-color apply-gift-card-coupon-code-button" />
        </div>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @Model.Message
            </div>
        }
    </div>
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $('#giftcardcouponcode').keydown(function (event) {
                if (event.keyCode == 13) {
                    $('#applygiftcardcouponcode').click();
                    return false;
                }
            });
        });
    </script>
}