@model ContactUsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
@section Breadcrumb
    {
    <div class="bread-crumb">
        <a href="@Url.RouteUrl("HomePage")" class="silver" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
        <strong class="color">@T("PageTitle.ContactUs")</strong>
    </div>
}
<div class="content-pages">
    @*<div class="shop-title-box">
            <h2 class="title18 title-box5">@T("PageTitle.ContactUs")</h2>
        </div>*@
    @await Component.InvokeAsync("TopicBlock", new { systemName = "ContactUs" })
    @await Component.InvokeAsync("Widget", new { widgetZone = "contactus_top" })
    <div class="choise-faq">
        <div class="row">
            <div class="form-my-account margin-center">
                @if (Model.SuccessfullySent)
                {
                    <div class="result text-center">
                        @Model.Result
                    </div>
                }
                else
                {
                    <form asp-route="ContactUs" method="post" class="contact-form">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="input-box">
                            <label asp-for="FullName" asp-postfix=":"></label>
                            <nop-required />
                            <input asp-for="FullName" placeholder="@T("ContactUs.FullName.Hint")" class="fullname" />
                            <span asp-validation-for="FullName"></span>
                        </div>
                        <div class="input-box">
                            <label asp-for="Email" asp-postfix=":"></label>
                            <nop-required />
                            <input asp-for="Email" placeholder="@T("ContactUs.Email.Hint")" class="email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        @if (Model.SubjectEnabled)
                        {
                            <div class="input-box">
                                <label asp-for="Subject" asp-postfix=":"></label>
                                <nop-required />
                                <input asp-for="Subject" placeholder="@T("ContactUs.Subject.Hint")" class="subject" />
                                <span asp-validation-for="Subject"></span>
                            </div>
                        }
                        <div class="input-box">
                            <label asp-for="Enquiry" asp-postfix=":"></label>
                            <nop-required />
                            <textarea asp-for="Enquiry" placeholder="@T("ContactUs.Enquiry.Hint")" class="enquiry"></textarea>
                            <span asp-validation-for="Enquiry"></span>
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                <nop-captcha />
                            </div>
                        }
                        <div class="buttons-set">
                            <input type="submit" name="send-email" class="shop-button" value="@T("ContactUs.Button")" />
                        </div>
                    </form>
                }
                @await Component.InvokeAsync("Widget", new { widgetZone = "contactus_bottom" })
            </div>
        </div>
    </div>
</div>